/* contact.scss */

.contactForm {
    max-width: 600px; /* Set a maximum width for the form */
    margin-inline:  auto; /* Center the form horizontally */
    padding: 20px; /* Add padding around the form */
    border-radius: 8px; /* Rounded corners */
    width: 80%;
  }
  .SocialIcons{
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
    img{
        width: 2rem;
    }
    
}
  
  .contactForm h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
    font-family: 'Arial', sans-serif; /* Font family */
    color: white; /* Dark color for the heading */
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
  .contactForm form {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
  }
  
  .contactForm input,
  .contactForm textarea {
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 15px; /* Space between fields */
    border: 1px solid #4C454C; /* Light gray border */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 16px; /* Font size */
    transition: border-color 0.3s; /* Smooth transition for border color */
    width: 100%; /* Full width for inputs and textareas */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    background-color: #4C454C;
    color: white;
    resize: none;

}
  
  .contactForm input:focus,
  .contactForm textarea:focus {
    border-color: #4C454C; /* Change border color on focus */
    outline: none; /* Remove default outline */
    background-color: white;
    color: #000000;
}
  
  .contactForm button {
    padding: 10px; /* Padding inside button */
    background-color: #4C454C; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
  
}
  
  .contactForm button:hover {
    background-color: white; /* Darker blue on hover */
    color: #4C454C;
}
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .contactForm {
      padding: 15px; /* Reduce padding on smaller screens */
      width: 80%;
    }
  
    .contactForm h2 {
      font-size: 2em; /* Adjust heading size */
    }
  
    .contactForm input,
    .contactForm textarea {
      font-size: 14px; /* Slightly smaller font size */
    }
  
    .contactForm button {
      font-size: 14px; /* Adjust button font size */
    }
  }