.graphicComponent{
    display: flex; /* Use flexbox for centering if needed */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevent overflow of the video */
    height: 80vh;


}
  
  video {
  border: 2px solid #fff;
    border-radius: 10px; /* Match the border-radius of the container */
    cursor: pointer;

  }