.nav{
 //   background-color: green;
    min-height: 10vh;
    position: absolute;
    justify-content: left;
    display: flex;
    width: 80%;
    margin: 0 auto;
    z-index: 99999;
    animation: fromNoWhere 0.5s ease;  

    img{
        width: 7rem;    
        cursor: pointer;
        margin-left: 2.8rem;

}
}