$MainC:#97491B;
$Black:#282828;
$White:#F5F5F5;
@keyframes rotateAndMove {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform:  rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.SocailComponent{
 
  display: flex; /* Use flexbox for centering if needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 1500px;

  .CoverImg {
    cursor: pointer;
    animation: rotateAndMove 2.5s ease-in-out forwards;
    animation-delay: 0.1s; /* staggered delay */
    transform: rotate(25deg);
    width: 300px;
    height: 300px;
    border:10px solid $White;
    border-radius: 1500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  img{
    border-radius:150px ;
 
  }}
      }
      
      video {
        width: auto; /* Width will adjust automatically to maintain aspect ratio */
        height: auto; /* Height will adjust automatically */
        max-width: 100%; /* Prevent the video from exceeding the container width */
        max-height: 100%; /* Prevent the video from exceeding the container height */
        cursor: pointer;

      }
.socialPage{

      .text{
        margin: 7.5rem auto 4rem;
        animation: fromNoWhere 1.5s ease;
        
      h1{
        
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 10px;
        span{
          font-size: 8rem;
          font-weight: bold;
          letter-spacing: 0;
      
        }
      }
      p{
        margin-top: 2rem;
        width: 60%;
        justify-content: center;
        margin-inline: auto;
        text-transform: capitalize;
      }}
    .socialImg{

      justify-content: space-evenly;
      animation: fromNoWhere 1.5s ease;
      width: 60%;
      display: flex;
      flex-wrap: wrap;
img{
width: 10rem;
padding-inline: 0.3rem;
}
    }

}

@media only screen and (max-width: 800px) {

  .socialPage{
    
    .text{
      h1{
    
        font-size: 1rem;
        span{
          font-size: 4rem;
        
        }
      }
      p{
        margin-top: 2rem;
        width: 85%;
        justify-content: center;
        margin-inline: auto;
        text-transform: capitalize;
      }
    }
  
    .socialImg{
      img{
        width: 200px;
        margin: 2rem auto ;
      }
    }
  }
  }

  @media only screen and (max-width: 1150px) {
    .SocailComponent .CoverImg{
      width: 200px;
      height: 200px;
    }
  }
  @media only screen and (max-width: 800px) {
    .SocailComponent .CoverImg{
      width: 150px;
      height: 150px;
    }
  }
  @media only screen and (max-width: 650px) {
    .SocailComponent .CoverImg{
      width: 120px;
      height: 120px;
      border: 5px $White solid;
    }
  }