.WebsiteComponent{
    display: flex; /* Use flexbox for centering if needed */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh;
}
  
  video {
    background-color: aquamarine;
    width: 100%; /* Width will adjust automatically to maintain aspect ratio */
    height: 100%; /* Height will adjust automatically */
    object-fit: cover;
    cursor: pointer;
}