$Brown:#95481B;
$padge:#E0C9B0;
$Black:#282828;
$White:#DFE8E6;

.ContactPage{
    background-color: $Black;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden !important;
   .sizer{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 10rem;
}
      a {
        text-decoration: none;
        color: $White;
        display: block; 
        min-width: 50px;
        letter-spacing: 5px;
         }

    .Titels{
        color: $White;
        max-width:55vw;
         h1{
            font-weight: bold;
            font-size: 3.5rem;
            text-shadow: -4px 6px 0px #95481b;
            text-transform: uppercase;
            }
       p{
        margin: 2rem 0 ;
        text-transform: capitalize;
        font-size: 1.5rem;
        width: 70%;

       } 

     
  button {
  
        background-color: transparent;
        color: $White;
        border: 1px solid $White;
        border-radius: 50px;
        cursor: pointer;
        transition: all 1.5s ease;
        text-transform: uppercase;
        padding: 0.7rem 4rem;

    &:hover {
      transform: translateY(-2px);
      background-color: $Brown;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
  }
    .SocialIcons{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        font-size: 2rem;
        margin-left: 10px;

        a {
            color: $White;
            transition: color 0.3s ease;

        }
    }
    }
}

@media only screen and (max-width: 1200px) {
.sizer{
  display: flex;
  flex-direction: column;
margin: 4rem auto !important;  
  
  .Titels{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5rem 0;
        max-width: 80vw;

    h1{
      font-size: 3.5rem;
    }
    p{
      width: 100%;
    }

    .SocialIcons{
      justify-content: center;
    }
  }
}
}

@media only screen and (max-width: 800px) {
.sizer{
margin: 1rem auto !important;  

  
  .Titels{
    
    margin: 5rem 0;
        max-width: 80vw;

    h1{
      font-size: 2.5rem;
    }
    p{
      width: 100%;
    }

  }
}
}

@media only screen and (max-width: 500px) {
.sizer{

  
  .Titels{
    
    margin: 5rem 0;
        max-width: 80vw;

    h1{
      font-size: 1.7rem;
    }
    p{
      font-size: 1rem;
    }

  }
}
}