$MainC:#97491B;
$Black:#282828;
$White:#F5F5F5;



@import '../effects/effcets';

.Landing{
  height: 100vh;
  width: 100vw;
  background-color: #97491B;
  color: #F5F5F5;
  background-image:url(../../../public/imgs/icons/texturesmall.svg) ;
  justify-content: center;
  text-align: center;
  overflow: hidden !important;
  flex-direction: column;
  background-repeat: repeat;
  animation: slideBackground 60s linear infinite alternate;

  .headings{
    margin-top: 9.5rem;
    margin-inline: auto;
    animation: fromNoWhere 1s ease;

    h1{
      font-size: 4rem;
      text-transform: capitalize;
    }
    p{
      font-size: 1.5rem;
      max-width: 60%;
      margin-inline: auto;
      text-transform: lowercase;

    }
  }
  .swipe{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    max-width:90% ;
    margin-inline: auto;
    animation: fromDown 1s ease;
    position: absolute;
    gap: 1rem;
    left: 0;
    right: 0;
    bottom: 20px;

    *{
      &:hover{
        animation: UpDown 0.5s ease;  
            }
    }
    img{
      cursor: pointer;

   
    }
  }
  .brandicon{
    position: absolute;
    right: 0;
    z-index: 1;
    animation: fromLeft 1s ease;

  }
  .SocialIcons{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    display: flex;
    width: 25%;
    margin-inline: auto;
    justify-content: space-evenly;
    animation: fromDown 0.5s ease;  

    img{
      max-width: 2rem;
      
    }
  }  
}
@media only screen and (max-width: 1000px) {
.Landing{

  .headings{
    margin-top: 9rem;
h1{
  font-size: 3.5rem;
  width: 75%;
  margin-inline: auto;
 
}
p{
  font-size: 1.1rem;
  max-width: 65%;
  margin-inline: auto;
}
}
.swipe{
  img{
 //   width: 2rem;
  }
}
  .brandicon{
  width: 5rem;
}

.SocialIcons{
img{
  max-width: 1.5rem;
}
}
}}
@media only screen and (max-width: 600px) {
.Landing{

  .headings{
justify-content: center;
align-items: center;
text-align: center;
h1{
  font-size: 2.1rem;
  width: 80%;
}

p{
  font-size: 1.1rem;
  max-width: 80%;
  margin: 1rem auto;

}
}
.swipe{
  img{
    width: 2.5rem;
  }
  p{
    font-size: 0.8rem;
    width: 80%;
    margin-inline: auto;
  }
}
.brandicon{
    max-width: 5rem;

}
.SocialIcons{
  width: 90%;
justify-content: space-evenly;
}
}
}

 
@keyframes slideBackground {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}